# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Package Managers
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# Generated
dist/
build/
coverage/
docs/

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Caches
.eslintcache

# Config files
.*

CHANGELOG.md
